.control {
  margin-bottom: 1em;
}
button {
  margin-left: 0.5em;
}
.timer {
  display: inline-block;
  margin-left: 1em;
}

.row {
  line-height: 1;
  white-space: nowrap;
}

input[type="checkbox"] {
  margin: 0 1px;
  width: 1em;
  height: 1em;
}
