:root {
  --margin: 0.25em;
}

body {
  padding: 0.75em;
}
#root {
  overflow: auto;
}

.control {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}
button {
  margin: 0 var(--margin);
  padding: 4px 8px;
}
.buttons,
.timer {
  margin: 0 calc(var(--margin) * -1);
}
label {
  margin: 0 var(--margin);
}
input[type="radio"] {
  margin-right: var(--margin);
}

.row {
  line-height: 1;
  white-space: nowrap;
}

input[type="checkbox"] {
  margin: 0 1px;
  width: 1em;
  height: 1em;
}
